@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
            <li class="nav-item">
                <span class="nav-link">Hallo, @UserManager.GetUserName(User)!</span>
            </li>
            <li class="nav-item">
                <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </li>
    }
    else
    {
            <li class="nav-item">
                <a class="nav-link" href="/Identity/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrieren</a>
            </li>
    }
</ul>
