@page
@model EmailModel
@{
    ViewData["Title"] = "E-Mail ändern";
}

<h2 class="text-primary">E-Mail ändern</h2>

<form method="post">
    <div class="mb-3">
        <label>Neue E-Mail</label>
        <input asp-for="NewEmail" type="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">E-Mail speichern</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
        <div class="alert alert-success mt-3">@Model.Message</div>
}
