@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "2-Faktor-Authentifizierung";
}

<h2 class="text-primary">2-Faktor-Authentifizierung</h2>

<p>Diese Funktion ist aktuell deaktiviert.</p>
